{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ title }} | {{ block.super }}
{% endblock %}

{% block content %}

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <!-- Team Info Card -->
                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            <h3 class="profile-username text-center">{{team.name}}</h3>
                            <p class="text-muted text-center">Team</p>

                            <ul class="list-group list-group-unbordered mb-3" >
                                <li class="list-group-item">
                                    <b>Leader</b>
                                    <a class="float-right">{{team.team_lead.profile.full_name}}</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Members</b> <a class="float-right">{{team.members.all|length}}</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Created</b> <a class="float-right">{{team.created_at|date:"d M, Y"}}</a>
                                </li>
                            </ul>
                            <div style="display: flex; justify-content: center; gap: 10px;">
                                <a href="{% url 'teams:update' team.id %}" class="btn btn-edit-team"><b>Edit Team</b></a>
                                <a href="{% url 'teams:delete' team.id %}" class="btn btn-delete-team"><b>Delete Team</b></a>
                            </div>

                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->

                    <!-- About Team Card -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">About Team</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <strong><i class="fas fa-file-alt mr-1"></i> Description</strong>
                            <p class="text-muted">
                                {{team.description}}
                            </p>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>

                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header p-2">
                            <ul class="nav nav-pills">
                                <li class="nav-item"><a class="nav-link active" href="#members" data-toggle="tab">Members ({{team.members.all|length}})</a></li>
                                <li class="nav-item"><a class="nav-link" href="#projects" data-toggle="tab">Projects</a></li>
                            </ul>
                        </div><!-- /.card-header -->
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="active tab-pane" id="members" style="max-height: 400px; overflow-y: auto;">
                                    <ul class="users-list clearfix">
                                        {% for member in team.members.all %}
                                            <li>
                                                <img src="{{ member.profile.profile_picture_url }}" alt="{{member.profile.full_name}}" title="{{member.profile.full_name}}" style="width:80px; height:80px; border-radius:50%; object-fit:cover;">
                                                <a class="users-list-name" href="#">{{member.profile.full_name}}</a>
                                                <span class="users-list-date">Joined: {{member.profile.join_date}}</span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <hr>
                                    <!-- <a href="#" class="btn btn-sm btn-info">Manage Members</a> -->
                                </div>
                                <!-- /.tab-pane -->

                                <div class="tab-pane" id="projects">
                                    <h4>Projects Assigned to this Team</h4>
                                    <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
                                    <table class="table table-sm">
                                        <thead><tr><th>Name</th><th>Due In</th><th>Status</th><th>Priority</th></tr></thead>
                                        <tbody>
                                            
                                            {% for project in team.projects.all %}
                                                <tr>
                                                    <td><a href="{% url 'projects:project-detail' project.id %}">{{project.name}}</a></td>
                                                    <td>{{project.days_until_due}}</td>
                                                    <td>{{project.status}}</td>
                                                    <td><span class="badge badge-{{project.priority_color}}">{{project.priority}}</span></td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    </div>
                                    <hr>
                                    <a href="{% url 'projects:create-for-team' team.id %}" class="btn btn-sm btn-success">Add New Project to this Team</a>
                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div><!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>
{% endblock %}
